.search-container {
  min-width: 100%;
  min-height: calc(100vh - 90px);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 30px 10px;
}

.search-content {
  width:100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background: #e6f7ff;
  justify-content: center;
  border-radius: 10px;
  padding: 40px 10px;
  
}

.search-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 20px;
  color: #262626;
}

.search-button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  
}

input.form-control{
  background-color: #fff;
}

.search-button button{
  width: 95%;
  height: 45px;
  font-size: 15px;
}

@media screen and (min-width:586px){
  .search-container {
    padding: 50px 30px;
  }
  
  .search-content {
    padding: 40px;
    
  }
  
  .search-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .search-button{
    justify-content: flex-start;

    
  }

  .search-button button h3{
    font-size: 25px;
  }
  
  .form-control{
    height: 50px;
  }
  
  .search-button button{
    width: 250px;
  }
}

@media screen and (min-width:992px){
  .search-title {
    font-size: 40px;
    margin-bottom: 50px;
  }

  .form-control{
     width: 800px;
  }

  .search-button button{
    width: 300px;
    height: 50px;
  }

 
}